{% extends 'base.html.twig' %}

{% block title %}Liste des Classes{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 mt-4 d-flex justify-content-around">
    <h2>Liste des Classes</h2>
    <a href="{{ path('app_classe.add') }}" class="btn btn-outline-success">
        Insérer une classe
    </a>
</nav>
{% for message in app.flashes('success') %}
 <div class="alert alert-success w-75 text-center mx-auto">
   {{message}}
 </div>
{% endfor %}
<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Libellé Classe</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for classe in classes %}
    <tr>
      <td>
        {{
            classe.libelle
        }}
      </td>
      <td>
        <a class="btn btn-outline-warning"
        href="{{ path ('app_classe.edit', {id: classe.id}) }}" role="button">Modifier</a>
      </td>
      <td>
          <a class="btn btn-outline-danger"
          href="#" role="button">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination d-flex justify-content-center">
    {{ knp_pagination_render(classes)}}
</div>
{% endblock %}